
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
     }

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}
.wrapper{
    max-width: 85%;
    margin: 0 auto;
    padding-inline: 2%;
}

.header-title{
   font-size: 3rem;
  }
.accordion{
    display: flex;
    flex-direction: column;
    color: blue;
}


.accordion_item{
display: flex;
flex-direction: column;
}

  .block-line{
    width: 100%;
    height: 0.3vh;
    background-color: gray;
  }

.row-flex{
display:flex;
justify-content: space-between;
  }

  .label{
    display: flex;
    flex-direction: column;
    }

.label:hover{
  cursor: pointer;
  }

.icon{
    display: none;
   align-self: flex-end;
    width: 1.7rem;
    height: 1.7rem;
}

.inputs{
    width: 0;
    height: 0;
 appearance: none;
}
  .picture{
    display: none;
   align-self: center;
   width: 40%;
   height: 24.8%;
  }

  @keyframes show {
    from {max-height: 0;} to {max-height: 24.8%;}
    from {max-width: 0;} to {max-width: 40%;}
  }

  @keyframes show-icon {
    from {rotate: 180deg;} to {rotate: 0;}
  }

  @keyframes rotate-icon {
    from {rotate: 0;} to {rotate: 180deg;}
  }

  .inputs:checked ~ .label>.row-flex> .text{
    color: blue;
    transition: 1s;
    color: black;
  }

.inputs:checked ~ .label> .picture {
    display: block;
   animation: show 1s;
}

.inputs:checked ~ .label>.row-flex> .icon{
    transform: rotate(180deg);
}
@media (min-width: 821px){

    .accordion:hover{
        color: black;
        cursor: pointer;
    } 
    .accordion:hover > .accordion_item > .label{
        color: black;
        }
    
      .accordion:hover > .accordion_item > .label> .row-flex > .icon{
        display: block;
        }
    
     .accordion_item:hover > .label> .row-flex > .icon{
            transform: rotate(180deg);
            animation: show-icon 0.2s;
        }  
        .accordion_item:active > .label> .row-flex > .text{
           color: blue;
        }  
    .inputs:hover ~ .label> .picture {
        display: block;
       animation: show 1s;
    }    
}
@media (max-width: 820px) {
    body{
        font-size: 1.3rem;
    }
    .icon{
        display: block;
    }
    .accordion:hover{
        cursor: default;
    } 
    .label:hover{
            cursor: default;
    }
    .header-title{
        font-size: 2.5rem;
       }

       .picture{
        display: none;
       align-self: center;
       width: 60%;
       height: 37.2%;
      }
      @keyframes show {
        from {max-height: 0;} to {max-height: 37.2%;}
        from {max-width: 0;} to {max-width: 60%;}
      }
    
}

@media (max-width: 320px){

    body{
        font-size: 1rem;
    }

    .header-title{
        font-size: 1.8rem;
       }

       .picture{
        display: none;
       align-self: center;
       width: 70%;
       height: 49.6%;
      }
      @keyframes show {
        from {max-height: 0;} to {max-height: 37.2%;}
        from {max-width: 0;} to {max-width: 60%;}
      }
    
}